@color-dark: burlywood;
@color-darkish: rgb(253, 210, 154);
@color-lightish: bisque;
@color-light: antiquewhite;

button, input[type='submit'] {
    padding: 0 0.2em;
    box-shadow: 0.05em 0.05em 0 0.1em black;
    margin: 0.6em;
    padding: 0.25em;
    border-radius: 0.5em;
    background-color: wheat;
    border: none;
}

body {
    background-color: @color-lightish;
}

.round-border {
    border: black solid;
    border-radius: 1em;
}

#generatorConfig {
    background-color: @color-dark;
}

@keyframes obscure {
    0% {backdrop-filter: none}
    50% {backdrop-filter: brightness(1.1) blur(0.1em);}
    100% {backdrop-filter: brightness(1) blur(0.3em) saturate(130%);}
}

@keyframes fly-in {
    0% {transform: translateY(-50vh) skewY(80deg)}
    40% {filter: none;}
    90% {transform: none; filter: hue-rotate(0) saturate(300%);}
    100% {filter: hue-rotate(360deg) saturate(100%)}
}

@keyframes entertitle {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

@keyframes select {
    0% {text-shadow: none; outline: #00000000 solid;}
    100% {text-shadow: 0.1em 0.15em 0.1em slategray; outline: black solid}
}

@keyframes zoomandspin {
    0% {transform: scale(0) rotateY(180deg) perspective(25em)}
    50% {transform: scale(1) rotateY(180deg) perspective(25em)}
    100% {transform: rotateZ(0) perspective(25em)}
}

@media not (prefers-reduced-motion) {
    dialog#generatorConfig {
        animation: fly-in 1s linear;
    }
}

dialog::backdrop {
    backdrop-filter: blur(0.3em) saturate(130%);
    @media not (prefers-reduced-motion) {
        animation: obscure 3s linear;
    }
}

#editor {
    background-color: @color-dark;
    margin: 0 0 0 0;
    padding: 1em;

    #editor-title h1 {
        @media not (prefers-reduced-motion) {
            animation: entertitle 1s linear;
        }
    }

    input, select {
        background-color: @color-dark;
        margin-top: 0.25em;
        width: 8em;

        &:not(.region-field, select) {
            width: 1.5em;
        }
    }
}

#region-error {
    background-color: rgb(255,60,60);
    padding: 1em;
}

.subregioncorridor-entry {
    background-color: @color-darkish;
    padding: 0.5em;
    margin-bottom: 0.5em;
    .round-border();

    .subregioncorridor-entry {
        background-color: @color-dark;
    }

    @media not (prefers-reduced-motion) {
        animation: zoomandspin 1s linear;
    }
}

.field-emph {
    outline: red solid;
}

#tile-selector {
    background-color: @color-dark;

    button {
        display: inline-block;
        .round-border();
        border-width: 0.1em;
        background-color: transparent;

        margin: 0.1em;
        padding: 0.4em;

        &.selected-tile {
            box-shadow: 0em 0em 0 0.1em red;
        }
    }
}

#library {
    text-align: center;
    vertical-align: top;
    padding: 1em;
    background-color: @color-light;

    & > ul {
        text-align: left;
    }

    li {
        padding: 0.3em;
        vertical-align: center;
        display: flex;
        justify-content: space-between;
        &:hover {
            text-shadow: 0.1em 0.15em 0.1em slategrey;
            transition: text-shadow 0.5s ease-in-out;
        }
        &:nth-child(2n) {
            background-color: @color-lightish;
        }

        span.buttons :is(span, button) {
            display: inline;
            margin: 0.3em;
            margin-left: 0.3em;
            padding-top: 0.1em;
            padding-bottom: 0.1em;
        }
    }
}

#selected-region {
    outline: black solid;
    text-shadow: 0.1em 0.15em 0.1em slategray;
    animation: select 0.5s linear;
}

#design-header {
    background-color: @color-dark;
    border-bottom: @color-lightish 0.2em solid;

    button{
        font-size: 1.5em;
        margin: 0.4em;
    }
}

#map {
    touch-action: none;
}